.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: rgba($color-black, .8);
  top: 0;
  left: 0;
  z-index: 99999;
  // text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  //how to impl blur effect on safari and leave chrome behav alone
  //* must specify value as well, not just prop
  //! example of graceful degradation using feature query & chrome supports now
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba($color-black, .3);
  }

  &__content {
    @include centerhorvert;
    width: 75%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    border-radius: 3px;
    //parent el of right and left, will auto give table-celled the same height
    display: table;
    overflow: hidden;
    opacity: 0;
    //must define again bc this will override earlier mixin
    transform: translate(-50%, -50%) scale(.25);
    //.3 delay
    transition: all .4s .3;

    @include respond(tab-port) {
      display: block;
    }
  }

  &__left {
    width: 33.333333%;
    //to place horizontally next to each other, dont know why need right float
    // float: left;
    display: table-cell;

    @include respond(tab-port) {
      width: 50%;
      display: flex;
    }
  }

  &__right {
    height: 66.666667%;
    // float: left;
    display: table-cell;
    //table prop aligns content in midle of parent div(?)
    vertical-align: middle;
    padding: 3rem 5rem;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    //* can use auto-prefixer instead 
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid $color-grey-light-2;

    //new CSS prop for column text effects, auto balance heights
    column-count: 2;
    //default gap is 1em = 14px (based on current el font size)
    column-gap: 4rem;
    //border in middle of column
    column-rule: 1px solid $color-grey-light-2;

    //to auto hyphen cutoff words, must define lang in html
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto; 
    hyphens: auto;
  } 

  //* Open states
  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);

    @include respond(phone) {
      transform: translate(-50%, -50%) scale(.8);
    }
  }

  //pseudoclass for elements 'targeted' href
  //once target changes to section tours the target behav will not apply
  &:target {
    opacity: 1;
    visibility: visible;
  }

  &__close {
    //positioned relative to content bc direct parent doesnt have position
    position: absolute;
    color: $color-grey-dark;
    top: 2.5rem;
    right: 2.5rem;
    text-decoration: none;
    font-size: 3rem;
    display: inline-block;
    transition: all .2s;
    //symbol is text so need to collapse height to position properly, or default
    //height will impede 
    line-height: 1;

    &:hover {
      color: $color-primary;
    }
  }
}