.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;

  //to fix vid overflow issue
  &__content {
    width: 100%;
    height: 100%;
    //will fill entire parent while maintaining aspect ratio, parts that dont fit will be clipped off
    object-fit: cover;
  } 
} 